<%- include(relative + 'assets\/inc\/' + '_variables.ejs'); %>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>おつまみ | ほろよいメーター | 「ほろよいメーター」で酔い度をチェック。適量飲酒を心がけ、お酒をたのしく飲みましょう。</title>

    <meta name="description" content="アルコール中毒には要注意！「ほろよいメーター」で酔い度をチェックしてみましょう。">

    <!-- OGP -->
    <meta property="og:title" content="ほろよいメーター | 「ほろよいメーター」で酔い度をチェック。適量飲酒を心がけ、お酒をもっと、たのしく。">
    <meta property="og:type" content="article">
    <meta property="og:description" content="アルコール中毒には要注意！「ほろよいメーター」で酔い度をチェックしてみましょう。">
    <meta property="og:url" content="https://www.yuki-017.com/horoyoi-meter/index.html">

    <%- include(incFile + '_head.ejs'); %>
  </head>

  <body>

    <%- include(incFile + '_header.ejs'); %>
    
    <section class="intro">
      <div class="contents">
        <div class="nomi-wrap">
          <div class="title-wrap">
              <p id="title01">おつまみレシピ</p>
          </div>

          <div class="banner down">
            <img src="/assets/img/otsumami-header.jpg" alt="ほろよいメーターのバナー">
          </div>

          <ul class="nomi-button">
            <li>
              <a href="#takunomi">
                <img src="/assets/img/takunomi.png" alt="宅飲みボタン">
              </a>
            </li>
            <li>
              <a href="#sotonomi">
                <img src="/assets/img/sotonomi.png" alt="外飲みボタン">
              </a>
            </li>
          </ul>

          <p class="up">今夜おうちで何食べる？ 家族と、友達と、一人でも、おうちで居酒屋！<br>宅飲みがもっと楽しくなる、美味しいおつまみをラインアップしました。
            <br>思わずビールが飲みたくなるおつまみレシピもご紹介します。
          </p>
        </div>
      </div>
    </section>

    <section class="takunomi" id="takunomi">
      <div class="contents">
        <div class="nomi-wrap">

            <h2 class="down">
              <img src="/assets/img/takunomi-title.png" alt="宅飲みのタイトル">
            </h2>

            <div class="main-image up">
                <img src="/assets/img/takunomi-main.png" alt="宅飲みのメイン画像">
            </div>

            <div class="main-wrap up">
              <div class="comment">
                <p>外出自粛や飲み会自粛でストレスが溜まっていませんか？<br>
                  コロナ禍で増えてきた、時間や場所を選ばず楽しめる「宅飲み」や「リモート飲み会」。<br>
                  今回はお酒を飲みたい時に誰でもさっと作れる「簡単おつまみ」をご紹介します。
                </p>
              </div>
              <div class="image">
                <img src="/assets/img/sentence-1.png" alt="宅飲みの画像">
              </div>
            </div>

            <ul class="lineup">
              <li class="first up">
                <img src="/assets/img/tsumami-iburi.png" alt="いぶりがっこ" class="up">
                <div class="lineup-comment">
                  <h3 id="block_01">いぶりがっことクリームチーズ</h3>
                  <p>「いぶりがっこ」は秋田県の内陸南部地方に伝わる米ぬかで漬け込んだ伝統的なたくあんの燻製です。<br>
                    噛めば噛むほど燻製の香ばしい香りが広がり、パリッとした食感が特徴です。<br>
                    クリームチーズを間に挟んで食べるのがおすすめです。
                  </p>
                </div>
              </li>
              <li class="second up">
                <div class="lineup-comment">
                  <h3 id="block_02">絶品やみつききゅうり</h3>
                  <p>もろきゅう、明太きゅうなどが楽しめる、みんな大好きなおつまみの定番といえば・きゅうり。<br>
                    にんにく醤油とごまで和えた「やみつききゅうり」は無限に食べられます。
                    誰でも簡単に作れるおすすめレシピです。
                  </p>
                </div>
                <img src="/assets/img/tsumami-kyuri.png" alt="きゅうり" class="up">
              </li>
            </ul>

            <ul class="ate-list">
              <li class="up">
                <img src="/assets/img/tsumami-eihire.png" alt="エイヒレ">
                <h3 id="block_03">エイヒレの炙り</h3>
                <p>コンビニでも気軽に買える、珍味の定番「エイヒレ」はマヨネーズと七味唐辛子をつけて食べるのがおすすめです。<br>
                  オーブントースターやバーナーで炙りましょう。
                </p>
              </li>

              <li class="up">
                <img src="/assets/img/tsumami-shiokara.png" alt="イカの塩辛">
                <h3 id="block_04">イカの塩辛</h3>
                <p>酒の肴や、ごはんのお供にぴったりなイカの塩辛。刺身用のスルメイカと塩があれば、臭みがなく、しっかりした歯ごたえの美味しい塩辛が完成します。</p>
              </li>

              <li class="up">
                <img src="/assets/img/tsumami-eda.png" alt="ガーリック枝豆">
                
                <h3 id="block_05">ガーリック枝豆</h3>
                <p>ビール言えば枝豆。そのままでもおいしいですが、香ばしいガーリックとピリ辛な唐辛子を一緒に炒めると、ビールとの相性抜群です。</p>
              </li>
            </ul>
        </div>
      </div>
    </section>

    <section class="sotonomi" id="sotonomi">
      <div class="contents">
        <div class="nomi-wrap">
          <h2 class="down">
            <img src="/assets/img/sotonomi-title.png" alt="外飲み">
          </h2>

          <div class="main-image up">
            <img src="/assets/img/sotonomi-main.png" alt="外飲みのメイン画像">
          </div>

          <div class="main-wrap">
            <div class="image up">
              <img src="/assets/img/sentence-2.png" alt="宅飲みの画像">
            </div>

            <div class="comment up">
              <p>たまには外に飲みに行きたい！<br>
                家族や友達と屋外で楽しむキャンプ、バーべーキュー、釣り、ビアガーデン、夏フェス、野球観戦など…<br>
                アウトドアシーンで活躍する、お酒にぴったりなおつまみを紹介します。
              </p>
            </div>
          </div>

          <ul class="lineup">
            <li class="first up">
              <img src="/assets/img/tsumami-cheese.png" alt="「カマンベールチーズ」と「ポテトチップス」の炭火焼">
              <div class="lineup-comment">
                <h3 id="block_06">カマンベールチーズの炭火焼</h3>
                <p>夏のレジャー・バーべキューでおすすめなのが、「カマンベールチーズ」と「ポテトチップス」の炭火焼。<br>
                  ポテトチップスはすぐに焦げてしまうので、アルミプレートの上に乗せて焼きましょう。<br>
                  口の中でとろけるカマンベールチーズも絶品です。
                </p>
              </div>
            </li>
            <li class="second up">
              <div class="lineup-comment">
                <h3 id="block_07">きゅうりの一本漬け</h3>
                <p>最後にご紹介するには、阪神甲子園球場で食べる「きゅうりの一本漬け」。<br>
                  球場前のスーパーで100円ほどでお買い求めいただけます。<br>
                  ビールや甲子園名物のジャンボ焼き鳥との相性も抜群！
                </p>
              </div>
              <img src="/assets/img/tsumami-koshien.png" alt="きゅうり">
            </li>
          </ul>
        </div>
      </div>
    </section>

    <%- include(incFile + '_footer.ejs'); %>

    <%- include(incFile + '_js.ejs'); %>
    <script src="/assets/js/otsumami.js"></script>
    <script src="/assets/js/fade.js"></script>

  </body>
</html>